@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-sm-4">
        <h3>About Us</h3>
        <p>South Dublin County Partnership.</p>
        <p>This website was commissioned by SDC Partnership as one component of an overall initiative to promote progression to third level education in areas where the current take up rate is low.</p>
        <p>As part of an overall strategy to achieve this goal, we believe by targetting children at a younger age to make them aware of the opportunities available to them, it will help them make the right subject choices at secondary level education.</p>
        <img src="~/images/sdcpLogo.png" width="220" height="190" alt="SDCP Logo" />
    </div>
    <div class="col-sm-4">
        <h3>What we do</h3>
        <p>
            We develop projects and services to support sustainable and vibrant communities, where people realise their potential and experience a high quality of life. The focus of our activities is on areas where people experience disadvantage.
        </p>
        <p>
            Our approaches are collaborative, challenging and creative. We create a neutral space, where parties can work together on solutions that would be hard to achieve in their own organisations. The Partnership can do this because we are motivated by outcomes and are usually are not linked to any particular approach or solution. We also have good relationships with local players. Partnership people are committed, pro-active and use resources effectively and transparently.
        </p>
        <p>
            Funding for our work comes from a variety of sources; our main funders are the Department of Community, Environment and Local Government and the Department of Social Protection.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Contact Us</h3>
        <p>For more information visit our home site <a href="http://www.sdcpartnership.ie/">SDCP</a></p>
        <p><img src="~/images/contact-us.jpg" width="220" height="190" alt="Contact us" /></p>
        <p>Or email Miriam McNamee directly miriam.mcnamee@sdcpartnership.ie</p>
    </div>
</div><!-- class row one-->
