@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div align="center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/game7.png" alt="Game 7" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game8.png" alt="Game 8" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game9.png" alt="Game 9" height="100">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div align="center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/game1.png" alt="Game 1" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game2.png" alt="Game 2" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game3.png" alt="Game 3" height="100">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div align="center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="images/game4.png" alt="Game 4" width="120" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game5.png" alt="Game 5" width="120" height="100">
                        </div>

                        <div class="item">
                            <img src="images/game6.png" alt="Game 6" width="120" height="100">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Games</h3>
            <p>Use the games on this website to learn more about different occupations.</p>
            <p>The games are designed to be fun and educational.</p>
            <img src="images/jobs-people-do.jpg" width="220" height="170" alt="Image Jobs people do" />
        </div>
        <div class="col-sm-4">
            <h3>Activities</h3>
            <p>There are downloadable PDF's which can be printed out.</p>
            <p>These can be used as fun activities for all the class.</p>
            <img src="images/resources.jpg" width="220" height="190" alt="Image resources" />
        </div>
        <div class="col-sm-4">
            <h3>Educational Pathways</h3>
            <p>This site contains information about further education.</p>
            <p>We explain what further education is required for different careers.</p>
            <img src="images/logo.jpg" width="220" height="190" alt="Image logo" />
        </div>
    </div><!-- class row one-->
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
    </div><!-- class row two-->
</div><!-- container-->